<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File detail</title>
  <!-- todo: add name to header? -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <a href="/">
      <h1>-- Project File Uploader --</h1>
    </a>

    <a href="/get-files">
      <p>return to files...</p>
    </a>
  </nav>

  <h1>File detail</h1>

  <% if (file) {%>
  <p>
    <i>
      [debug]: <%=JSON.stringify(file)%>
    </i>
  </p>

  <b>
    <p>File name: <%= file.name %></p>
  </b>

  <h2>Information:</h2>
  <ul>
    <li>File type: <%= file.type ? file.type : 'data missing'  %></li>
    <li>File size: <%= file.size ? file.size : 'data missing'  %></li>
    <li>Time to upload: <%= file.uploadTime ? file.uploadTime : 'data missing' %></li>
    <li>Date created: <%= file.createdAt ? file.createdAt : 'data missing' %></li>

  </ul>

  <p>(If file is of type png, it will be rendered here:) </p>
  <p><i>[debug]: extName= <%= JSON.stringify(file.path) %></i></p>
  <!-- temp: debug and find file extName in above p. -->
  <div>
    <% if (file.type === "png") { %>
    <span>is png.</span>
    <% } %>
  </div>

  <% } else { %>
  <h1>Error! File not found.</h1>
  <% } %>


</body>

</html>