<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File detail</title>
  <!-- todo: add name to header? -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>File detail: (name)</h1>

  <% if (file) {%>
  <p>
    <i>
      [debug]: <%=JSON.stringify(file)%>
    </i>
  </p>

  <b>
    <p>File name: <%= file.name %></p>
  </b>

  <h2>Information:</h2>
  <ul>
    <li>File size: <%= file.size ? file.size : 'data missing'  %></li>
    <li>Time to upload: <%= file.uploadTime ? file.uploadTime : 'data missing' %></li>
    <li>Date created: <%= file.createdAt ? file.createdAt : 'data missing' %></li>

  </ul>

  <% } else { %>
  <h1>Error! File not found.</h1>
  <% } %>


</body>

</html>