<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>My Files</title>
</head>

<body>
  <a href="/">
    <h1>-- Project File Uploader --</h1>
  </a>
  <h2>User <%= user.username %>'s Files</h2>


  <h2>User <%= user.username %>'s Folders:</h2>
  <button popovertarget="newFolder">Create new Folder</button>

  <form popover action="/new-folder" method="post" id="newFolder">
    <span>Create New Folder</span>
    <br>
    <label for="name">Name:</label>
    <input type="text" name="name">
    <input type="submit" value="Confirm">
  </form>

  <ul>
    <% folders.map((folder) => { %>
    <a href="/get-files?openFolder=<%=folder.name%>">
      <li><%= folder.name %></li>
    </a>
    <% }) %>
  </ul>

  <% if (typeof openFolder !== 'undefined' && openFolder !== null) { %>
  <h2> Folder <%= openFolder.name %>'s Contents:</h2>
  <ul>
    <% if (!openFolder.files) { %>
    <li>This folder has no files.</li>
    <% } else { %>
    <li>temp: files should be displayed here.</li>
    <li> <%=JSON.stringify(openFolder) %> </li>
    <% } %>
  </ul>
  <% } %>
</body>

<span>debug: <%= JSON.stringify(user) %></span>
<br />
<span>debug: <%= JSON.stringify(folders) %></span>

</html>