<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>My Files</title>
</head>

<body>
  <a href="/">
    <h1>-- Project File Uploader --</h1>
  </a>
  <h2>User <%= user.username %>'s Files</h2>


  <h2>User <%= user.username %>'s Folders:</h2>
  <button popovertarget="newFolder">Create new Folder</button>

  <form popover action="/new-folder" method="post" id="newFolder">
    <span>Create New Folder</span>
    <br>
    <label for="name">Name:</label>
    <input type="text" name="name">
    <input type="submit" value="Confirm">
  </form>

  <ul>
    <% folders.map((folder) => { %>
    <a href="/get-files?openFolder=<%=folder.name%>">
      <li><%= folder.name %></li>
    </a>
    <% }) %>
  </ul>

  <% if (typeof openFolder !== 'undefined' && openFolder !== null) { %>
  <h2> Folder <%= openFolder.name %>'s Contents:</h2>

  <button popovertarget="update_form">Edit Folder Name</button>
  <button popovertarget="delete_form"><b>Delete Folder</b></button>

  <!-- update form -->
  <form popover method="post" action="/update-folder" id="update_form">
    <h1>Update Folder: <%= openFolder.name %></h1>
    <input type="hidden" name="openFolderId" value="<%= openFolder.id %>">

    <label for="newName">Enter new name: </label>
    <input type="text" name="newName" id="newName">
    <br />
    <input type="submit" value="Confirm">
  </form>

  <!-- delete form -->
  <form popover action="/delete-folder" id="delete_form">
    <h1>Confirm: Delete folder <%= openFolder.name %></h1>
    <label for="submit">Are you sure you want to delete folder <%= openFolder.name %>? <b>(Warning: all files in this folder will be deleted.)</b></label>
    <br />
    <input type="submit" value="Delete Folder">
  </form>

  <ul>
    <% if (!files || files === []) { %>
    <li>This folder has no files.</li>
    <% } else { %>
    <li>temp: files should be displayed here.</li>
    <% files.map((file) => { %>
    <li><%=file.name%></li>
    <% }) %>
    <% } %>
  </ul>
  <% } %>
</body>

<i>
  <span>debug: <%= JSON.stringify(user) %></span>
  <br />
  <span>debug: <%= JSON.stringify(folders) %></span>
  <br />
  <span>debug: <%= JSON.stringify(files) %></span>
</i>

</html>