<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to "Project File Uploader", part of The Odin Project's Node.js Course. </p>

  <p>Features: sign up and log in using <b>passport.js, express and prisma sessions. </b> Logged-in users will see a unique message, and be able to post files to a database. (WIP: Temporarily stored on local machine.)</p>

  <h2>Authentication</h2>

  <% var isLoggedIn = typeof user !== "undefined" && user !== null %>

  <% if (isLoggedIn) {%>
  <h1>WELCOME BACK <%= user.username %></h1>
  <a href="/log-out">LOG OUT</a>
  <% } else { %>
  <h2>please log in</h2>
  <form action="/log-in" method="POST">
    <label for="username">Username</label>
    <input id="username" name="username" placeholder="my-name@something.com" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" placeholder="randompassword" type="password" />
    <button>Log In</button>
  </form>
  <p>Don't have an account? <a href="/sign-up">Sign Up</a></p>
  <%}%>
      
  <!-- logged in users should see a form for uploading files here. -->

  <h2>File Posting</h2>

  <span>temp: logged in =<%=isLoggedIn%> </span>

  <form action="/post-file" method="post">
    <label for="">post file here:</label>

    <!-- button will be disabled unless Logged in. -->
    <button type="submit" <%= isLoggedIn ? "" : "disabled" %>>Upload File</button>

  </form>

</body>

</html>