<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to "Project File Uploader", part of The Odin Project's Node.js Course. </p>

  <p>Features: sign up and log in using <b>passport.js, express and prisma sessions. </b> Logged-in users will see a unique message, and be able to post files to a database. (WIP: Temporarily stored on local machine.)</p>

  <h2>Authentication</h2>

  <% var isLoggedIn = typeof user !== "undefined" && user !== null %>

  <% if (isLoggedIn) {%>
  <p>WELCOME BACK, <%= user.username %>!</p>
  <a href="/log-out">LOG OUT</a>
  <% } else { %>
  <h2>please log in</h2>
  <form action="/log-in" method="POST">
    <label for="username">Username</label>
    <input id="username" name="username" placeholder="my-name@something.com" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" placeholder="randompassword" type="password" />
    <button>Log In</button>
  </form>
  <p>Don't have an account? <a href="/sign-up">Sign Up</a></p>
  <% } %>

  <!-- logged in users should see a form for uploading files here. -->
  <h2>File Posting</h2>

  <form action="/post-files" method="post" enctype="multipart/form-data">

    <label for="fileName">File Name (What to call it in the database): </label>
    <input type="text" name="fileName">
    <br />
    <label for="fileFolder">File folder</label>
    <select name="fileFolder" id="fileFolder">
      <option value="file">file (default)</option>
      <% if (folders) { 
       folders.map((folder) => { %>
      <option value="<%=folder.name%>"><%=folder.name %></option>
      <% })} %>
    </select>
    <br />

    <label for="fileInput">Post file here:</label>
    <input type="file" name="fileInput" id="fileInput" />
    <br />

    <button type="submit" <%= isLoggedIn ? "" : "disabled" %>>Upload File</button>
  </form>


  <% if (isLoggedIn) {%>
  <a href="/get-files">See my files...</a>
  <% } %>

</body>

</html>